<div class="card">
    <div class="card-body">
 
        <h5>Lista de Clientes</h5>

        <div *ngIf="mensagem_sucesso" class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            <strong>Sucesso!</strong> {{mensagem_sucesso}}
            <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
        </div>
 
        <div *ngIf="mensagem_erro" class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
            <strong>Erro!</strong> {{mensagem_erro}}
            <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
        </div>
 
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th width="0"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of clientes">                    
                    <td>{{e.nome}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.cpf}}</td>
                    <td>{{e.dataNascimento | date : 'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary"
                            [routerLink]="['/editar-clientes', e.idCliente]" >
                            Alterar
                        </button>
                        &nbsp;
                        <button (click)="excluirCliente(e.idCliente)"
                            class="btn btn-sm btn-danger">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        Quantidade de clientes: {{clientes.length}}
                    </td>
                </tr>
            </tfoot>
        </table>
 
    </div>
</div>  